<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

    <head>
        <script src="https://cdn.ckeditor.com/ckeditor5/16.0.0/classic/ckeditor.js"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

        <title>Team Inclusion</title>
    </head>
    <body style="background-color: #eaebee">
<!--        Header-->
        <div style="background-color: #45799e">
            <div class="container">
                <nav class="navbar navbar-expand-lg navbar-dark" >
                    <a class="navbar-brand" th:href="@{'/'}">#MeatHouse</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse">
                        <ul class="navbar-nav mr-auto" sec:authorize="isAuthenticated()">
                            <li class="nav-item">
                                <a class="nav-link" th:href="@{'/profile'}">Profile</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" th:href="@{'/cms/category'}">Категория</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" th:href="@{'/blog'}">Новости</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" th:href="@{'/register'}">Добавить User</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" th:href="@{'/questions'}">Вопросы</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="JavaScript:void(0)" onclick="logout()">Logout</a>
                            </li>
                            <form th:action = "@{'/exit'}" id = "logoutForm">
                            </form>
                            <script type="text/javascript">
                                function logout(){
                                    document.getElementById("logoutForm").submit();
                                }
                            </script>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>

<!--        Content-->
        <div class="container pt-5 " layout:fragment = "contentPart" style="min-height: 800px;">
        </div>
<!--        Footer-->
        <div class="pt-2 pb-2 mb-0" style="background-color: #343842; color: #ccc; min-height: 50px;">
            <div class="container mt-5 mb-5">
                <span>
                    2020 Copyright All Rights Reserved | by DevHills
                </span>
            </div>
        </div>

    </body>

</html>