<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/main.html">
<div layout:fragment = "contentPart">


<!--        <form th:action = "@{/addcat}" method="post">-->
<!--            <div class="form-group">-->
<!--                <label>Name</label>-->
<!--                <input type="text" class="form-control" name = "name">-->
<!--            </div>-->
<!--            <button type="submit" class="btn btn-primary">ADD</button>-->
<!--        </form>-->
<!--    <br>-->
<!--        <table cellpadding="20" class="table table-bordered table-hover">-->
<!--            <thead class="thead-light">-->
<!--            <tr>-->
<!--                <th>-->
<!--                    ID-->
<!--                </th>-->
<!--                <th>-->
<!--                    Name-->
<!--                </th>-->
<!--            </tr>-->
<!--            </thead>-->
<!--            <tbody>-->
<!--            <tr th:each = "c:${category}">-->
<!--                <td th:text = "${c.id}"></td>-->
<!--                <td th:text = "${c.name}"></td>-->
<!--            </tr>-->
<!--            </tbody>-->
<!--        </table>-->

    <h3>
        Hello,
        <span th:text="${currentUser}"></span>
<!--        Welcome <span th:text = "${user.first_name}"></span>-->

    </h3>

    </div>

</html>